<div class="col-lg-3">
    <ul class="list-group">
        <li class="list-group-item active mb-2">Home</li>
        <li class="list-group-item mb-2"><a href="/admin/slider">Slider</a></li>
        <li class="list-group-item mb-2"><a href="/admin/about">About</a></li>
        <li class="list-group-item mb-2"><a href="/admin/constructions">Constructions</a></li>
        <li class="list-group-item mb-2"><a href="/admin/services">Services</a></li>
        <li class="list-group-item mb-2"><a href="/admin/project_category">Project_Category</a></li>
        <li class="list-group-item mb-2"><a href="/admin/project">Project</a></li>
        <li class="list-group-item mb-2"><a href="/admin/enqury">Enqury</a></li>
        <li class="list-group-item mb-2"><a href="/admin/testmonials">Testmonials</a></li>
        <li class="list-group-item mb-2"><a href="/admin/site_menu">Site_menu</a></li>
        
    </ul> 
 
</div> 
